.arrow-btn {
  @include reset;
  display: block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 0;
  top: 55%;
  font-size: 1.75rem;
  color: $primary-button-color;

  &::before {
    content: '下一個站別';
    color: $primary-button-color;
    position: absolute;
    height: 100%;
    left: 0;
    vertical-align: middle;
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 1.5rem solid $primary-button-color;
  }

  @include respond(md) {
    top: 100%;
    left: 0;
    width: 11rem;
    translate: 0 calc(-100% - $content-padding * 2);

    &::before {
      display: block;
    }

    &::after {
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
      border-left: 1rem solid;
    }
  }
}

.menu-btn {
  @include reset;
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 2.5rem;
  right: 0;
  top: 50%;
  translate: 0 calc(-50% - 4px);

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 2px;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    background-color: $primary-button-color;
    box-shadow: 0 -8px 0 $primary-button-color, 0 8px 0 $primary-button-color;
  }

  &::after {
    content: '選項';
    position: absolute;
    display: none;
    font-size: 1.75rem;
    color: $primary-button-color;
    right: 0;
    top: 50%;
    translate: 0 -50%;
  }

  @include respond(md) {
    width: 6rem;

    &::after {
      display: block;
    }
  }
}

@media (hover: hover) {
  .arrow-btn:hover {
    color: $secondary-button-color;

    &::before {
      color: $secondary-button-color;
    }
    &::after {
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.5rem solid $secondary-button-color;
    }
    @include respond(md) {
      &::after {
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid $secondary-button-color;
      }
    }
  }

  .menu-btn:hover {
    &::before {
      background-color: $secondary-button-color;
      box-shadow: 0 -8px 0 $secondary-button-color, 0 8px 0 $secondary-button-color;
    }

    &::after {
      color: $secondary-button-color;
    }
  }
}
