<main class="menu container">
  <header class="header">
    <h2 class="header__title">選項</h2>
  </header>
  <section class="menu__item">
    <h2 class="menu__title">選擇城市:</h2>
    <div class="dropdown menu__city">
      <a class="btn dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">city</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" data-name="臺北市">臺北市</a></li>
        <li><a class="dropdown-item" href="#" data-name="新北市">新北市</a></li>
        <li><a class="dropdown-item" href="#" data-name="基隆市">基隆市</a></li>
        <li><a class="dropdown-item" href="#" data-name="桃園市">桃園市</a></li>
        <li><a class="dropdown-item" href="#" data-name="新竹市">新竹市</a></li>
        <li><a class="dropdown-item" href="#" data-name="苗栗縣">苗栗縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="彰化縣">彰化縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="雲林縣">雲林縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="南投縣">南投縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="嘉義市">嘉義市</a></li>
        <li><a class="dropdown-item" href="#" data-name="高雄市">高雄市</a></li>
        <li><a class="dropdown-item" href="#" data-name="屏東縣">屏東縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="宜蘭縣">宜蘭縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="花蓮縣">花蓮縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="澎湖縣">澎湖縣</a></li>
        <li><a class="dropdown-item" href="#" data-name="金門縣">金門縣</a></li>
      </ul>
    </div>
  </section>
  <section class="menu__item">
    <h2 class="menu__title">選擇站別</h2>
    <div class="dropdown menu__location">
      <a class="btn dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">location</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">location</a></li>
      </ul>
    </div>
  </section>
  <section class="menu__item">
    <h2 class="menu__title">佈景主題</h2>
    <div class="dropdown menu__bg">
      <a class="btn dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">day</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Day-time</a></li>
        <li><a class="dropdown-item" href="#">Night-time</a></li>
      </ul>
    </div>
  </section>
  <a class="btn menu__btn text-white" href="/" role="button">確定</a>
</main>
