<main class="menu container">
  <header class="header">
    <h2 class="header__title">選項</h2>
  </header>
  <section class="menu__item menu__city">
    <h2 class="menu__title">選擇城市:</h2>
    <div class="dropdown">
      <a class="btn dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">請選擇</a>
      <ul class="dropdown-menu city">
        <li><button class="dropdown-item" data-name="臺北市">臺北市</button></li>
        <li><button class="dropdown-item" data-name="新北市">新北市</button></li>
        <li><button class="dropdown-item" data-name="基隆市">基隆市</button></li>
        <li><button class="dropdown-item" data-name="桃園市">桃園市</button></li>
        <li><button class="dropdown-item" data-name="新竹市">新竹市</button></li>
        <li><button class="dropdown-item" data-name="苗栗縣">苗栗縣</button></li>
        <li><button class="dropdown-item" data-name="彰化縣">彰化縣</button></li>
        <li><button class="dropdown-item" data-name="雲林縣">雲林縣</button></li>
        <li><button class="dropdown-item" data-name="南投縣">南投縣</button></li>
        <li><button class="dropdown-item" data-name="嘉義市">嘉義市</button></li>
        <li><button class="dropdown-item" data-name="高雄市">高雄市</button></li>
        <li><button class="dropdown-item" data-name="屏東縣">屏東縣</button></li>
        <li><button class="dropdown-item" data-name="宜蘭縣">宜蘭縣</button></li>
        <li><button class="dropdown-item" data-name="花蓮縣">花蓮縣</button></li>
        <li><button class="dropdown-item" data-name="澎湖縣">澎湖縣</button></li>
        <li><button class="dropdown-item" data-name="金門縣">金門縣</button></li>
      </ul>
    </div>
  </section>
  <section class="menu__item menu__location">請先選擇城市</section>
  <section class="menu__item">
    <h2 class="menu__title">佈景主題:</h2>
    <div class="dropdown menu__background">
      <a class="btn dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">請選擇</a>
      <ul class="dropdown-menu background">
        <li><button class="dropdown-item">Day-time</button></li>
        <li><button class="dropdown-item">Night-time</button></li>
      </ul>
    </div>
  </section>
  <a class="btn menu__selection" href="/" role="button">確定</a>
</main>
