.overlay {
  margin: -1.5rem;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(17.5px);
}

.forecast {
  &__content {
    @include reset;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 1rem;
    border-bottom: rgba($color: #fff, $alpha: 0.3) 1px solid;
  }

  &__time {
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    @include reset;
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  &__icon > span {
    font-weight: normal;
    display: none;
  }

  &__desc {
    @include reset;
    font-size: 1.5rem;
  }

  @include respond(lg) {
    &__content {
      flex-direction: column;
      border-bottom: 0;
      border-right: rgba($color: #fff, $alpha: 0.3) 1px solid;
    }

    &__content:last-child {
      border: 0;
    }

    &__time {
      text-align: left;
    }

    &__item {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 3rem;
    }

    &__icon {
      padding-bottom: 1.5;
      font-size: 1.5rem;
      text-align: justify;
      vertical-align: middle;
    }

    &__icon > span {
      display: inline-block;
      font-size: 1.5rem;
      padding-left: 1rem;
    }
  }
}
