.overlay {
  margin: $base-padding * -1;
  padding: $base-padding;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(17.5px);
}

.forecast {
  @include reset;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__item {
    @include reset;
    display: flex;
    flex-wrap: wrap;
    padding-top: $content-padding;
    justify-content: center;
    align-items: center;
    border-bottom: $secondary-border;
  }

  &__time {
    @include reset;
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
  }

  &__content {
    width: calc(100% / 3);
    font-size: 1rem;

    i {
      font-size: 3rem;
      font-style: normal;
    }

    span {
      font-size: 1rem;
      display: none;
    }

    p {
      @include reset;
      font-size: 1rem;
    }
  }

  @include respond(lg) {
    &__time {
      text-align: left;
    }

    &__item {
      flex-direction: column;
      border-bottom: 0;
      padding: 1rem;
      border-right: $secondary-border;
    }

    &__item:last-child {
      border: 0;
    }

    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      i {
        font-size: 1.5rem;
        display: inline-block;
        padding: $content-padding 0;
      }

      span {
        font-size: 1.5rem;
        display: inline-block;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
