.header {
  @include reset;
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;

  &__title {
    @include reset;
    font-size: 1.25rem;
  }

  // &__menu {
  //   display: flex;
  //   font-size: 1.25rem;
  //   align-items: center;

  //   span {
  //     display: none;
  //     cursor: pointer;
  //   }

  //   @include respond(md) {
  //     span {
  //       display: inline;
  //     }
  //   }
  // }
}
