.header {
  @include reset;
  width: 100%;
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: $primary-border;
  text-align: left;

  &__title {
    @include reset;
    font-size: 1.25rem;
  }
}
