html {
  @include fix-height;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/bg-image-daytime-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
  scale: 1.05;

  @include respond(md) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../images/bg-image-daytime-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include respond(lg) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../images/bg-image-daytime-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  padding: $base-padding;
  color: #fff;
  @include fix-min-height;
  @include fix-width;
}
