/*
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin fix-height {
  height: fill-available;
  height: -moz-available;
  height: -moz-fill-available;
  height: -webkit-fill-available;
}

@mixin fix-width {
  width: fill-available;
  width: -moz-available;
  width: -moz-fill-available;
  width: -webkit-fill-available;
}

@mixin fix-min-height {
  min-height: fill-available;
  min-height: -moz-available;
  min-height: -moz-fill-available;
  min-height: -webkit-fill-available;
}
