$font-family-sans-serif: Arial, -apple-system, 'Noto Sans', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
$base-padding: 0.75rem;
$content-padding: 1.5rem;
$content-margin: 1rem;
$primary-border: 1px solid
  rgba(
    $color: #fff,
    $alpha: 1,
  );
$secondary-border: 1px solid
  rgba(
    $color: #fff,
    $alpha: 0.3,
  );
