// Custom
$font-family-sans-serif: Arial, -apple-system, 'Noto Sans', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
$primary: #1289e5;
$success: #1a9835;
$light: #d1ddeb;
$dark: #555;
$spacer: 1rem;

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

html {
  height: fill-available;
  height: -webkit-fill-available;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  color: #fff;
  padding: 1.5rem;
  position: relative;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg-image-daytime-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
  border-bottom: 1px solid #fff;

  &__title {
    font-size: 1.25rem;
  }
}

.current {
  position: relative;

  &__city {
    font-size: 2.25rem;
  }
  &__location {
    font-size: 1rem;
  }
  &__time {
    font-size: 1rem;
  }
  &__temp {
    font-size: 6rem;
  }
  &__desc {
    font-size: 1.5rem;
  }
}

.forecast {
  &__time {
    font-size: 1.25rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: #fff 1px solid;
  }
  &__desc {
    font-size: 1.25rem;
  }
  &__icon {
    display: block;
    font-size: 3rem;
  }
}

.overlay {
  margin: -1.5rem;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(17.5px);
}

.arrow {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url('../images/arrow.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  right: 0;
  top: 50%;
}

.menu {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../images/menu.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
}
